.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
}

.btn {
  padding: 5px 10px;
  color: white;
  background: var(--main-bg-color);
  border-radius: 7px;
  cursor: pointer;
}

.my-1 {
  margin: 5px 0;
}

.my-2 {
  margin: 46px 14px;
}

.text-center {
  text-align: center;
}
